In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [2]:
spark = SparkSession.builder \
.master("local[*]") \
.appName('test') \
.getOrCreate()

24/01/21 11:40:04 WARN Utils: Your hostname, codespaces-fce2a9 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/01/21 11:40:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/21 11:40:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_green = spark.read.parquet('data/raw/green')

In [4]:
df_green  = df_green \
  .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
  .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [5]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [6]:
df_yellow = spark.read.parquet('data/raw/yellow')

In [7]:
df_yellow  = df_yellow \
  .withColumnRenamed('tpep_pickup_datetime','pickup_datetime') \
  .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [8]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [9]:
common_columns = []

yellow_columns = set(df_yellow.columns)
for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [10]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [11]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [12]:
df_green_sel = df_green.select(common_columns).withColumn('service_type',F.lit('green'))

In [13]:
df_yellow_sel = df_yellow.select(common_columns).withColumn('service_type',F.lit('yellow'))

In [14]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [15]:
df_trips_data.groupBy('service_type').count().show()

24/01/21 11:40:18 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2305712|
|      yellow|39688804|
+------------+--------+

In [16]:
df_trips_data.createOrReplaceTempView('trips_data')

In [17]:
spark.sql (
    """
    SELECT * FROM trips_data LIMIT 10;
    """
).show()

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|service_type|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|       2|2020-02-10 15:21:48|2020-02-10 15:51:29|                 N|         1|          97|         228|              1|         5.82|       23.0|  0.0|    0.5|      3.57|         0.0|                  0.3|       27.37|           1|                 0.0|       green|
|       2|2020-03-16 13:03:09|2020-03-16 13:06:36|                 N|         1|         130|         130|              1|          0.8|        5.0|  0.0|    0.5|      1.16|         0.0|                  0.3|        6.96|           1|                 0.0|       green|
|       2|2020-03-08 20:29:12|2020-03-08 20:39:57|                 N|         1|         255|         112|              1|         1.97|        9.5|  0.5|    0.5|      2.16|         0.0|                  0.3|       12.96|           1|                 0.0|       green|
|       1|2021-05-21 09:53:26|2021-05-21 10:08:53|                 N|         1|          74|          24|              1|          2.2|       11.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        12.3|           1|                 0.0|       green|
|       2|2020-11-28 15:30:46|2020-11-28 15:38:14|                 N|         1|          42|          41|              2|         1.41|        7.5|  0.0|    0.5|       1.0|         0.0|                  0.3|         9.3|           1|                 0.0|       green|
|       2|2020-01-01 00:48:28|2020-01-01 01:01:47|                 N|         1|          82|         255|              2|         5.01|       17.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        18.3|           2|                 0.0|       green|
|       2|2020-02-18 19:38:30|2020-02-18 19:52:36|                 N|         1|         166|         236|              1|         2.53|       12.0|  1.0|    0.5|      3.31|         0.0|                  0.3|       19.86|           1|                2.75|       green|
|       2|2020-02-06 15:58:05|2020-02-06 16:06:47|                 N|         1|          43|         151|              1|         1.41|        7.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         8.3|           2|                 0.0|       green|
|       2|2020-02-13 17:46:11|2020-02-13 18:09:42|                 N|         1|          74|         238|              1|         3.21|       16.5|  1.0|    0.5|      4.21|         0.0|                  0.3|       25.26|           1|                2.75|       green|
|       1|2020-02-28 05:15:42|2020-02-28 05:37:55|                 N|         1|         129|          75|              2|          8.7|       26.5|  0.5|    0.5|       5.0|        6.12|                  0.3|       38.92|           1|                 0.0|       green|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+

In [18]:
spark.sql(
    """
    SELECT 
        service_type,
        COUNT(1) AS count
    FROM 
        trips_data
    GROUP BY
        service_type
    """
).show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2305712|
|      yellow|39688804|
+------------+--------+

In [22]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [23]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         250|2020-02-01 00:00:00|       green|  15359.960000000006|               1282.5|                  117.5|                     56.01|           590.3200000000003|                     179.999999999999|          17598.440000000013|                                11.0|        1.2394957983193278|       4.962810650887576|
|          41|2020-11-01 00:00:00|       green|   52371.87000000006|              1341.25|                 2025.0|         5862.450000000001|           567.5700000000003|                   1374.2999999999743|           65967.38999999869|                              2713.5|        1.2318805682639056|       10.04958927799396|
|         259|2021-04-01 00:00:00|       green|   7895.719999999996|                585.2|                    6.0|        148.82999999999998|           465.2400000000001|                    71.10000000000004|           9177.589999999997|                                 0.0|                       1.2|       9.195020920502094|
|         108|2020-11-01 00:00:00|       green|   6710.020000000002|                  7.5|                   23.5|        482.33000000000004|          215.71000000000004|                    54.30000000000008|           7496.109999999999|                                2.75|        1.0208333333333333|       238.7364640883977|
|         161|2021-04-01 00:00:00|       green|             1096.75|                 88.0|                    0.0|                       0.0|                       63.23|                    9.299999999999997|                     1257.28|                                NULL|                      NULL|      10.048709677419355|
|         137|2020-10-01 00:00:00|       green|   3480.829999999999|                  0.0|                    0.0|                     297.0|          250.92000000000007|                   32.400000000000034|          4061.1499999999996|                                NULL|                      NULL|       9.184722222222222|
|          15|2020-03-01 00:00:00|       green|  1682.2300000000002|                  5.5|                    6.5|                       0.0|                       79.56|                   19.800000000000004|                     1802.44|                                 0.0|                       1.0|       7.910298507462687|
|         229|2020-03-01 00:00:00|       green|              676.36|                  0.0|                    1.0|                       0.0|                       42.84|                    8.099999999999998|                       728.3|                                 0.0|                       1.0|        7.69111111111111|
|          44|2020-10-01 00:00:00|       green|               146.5|                  3.5|                    2.0|                       5.5|                         0.0|                                  1.2|                       158.7|                                 0.0|                       1.0|                 12.0475|
|         158|2020-02-01 00:00:00|       green|              124.36|                 8.25|                    0.5|                       0.0|                         2.8|                   0.8999999999999999|                      136.81|                                NULL|                      NULL|      11.090000000000002|
|         242|2021-02-01 00:00:00|       green|  13165.010000000002|   1445.5500000000002|                   19.5|                      44.0|          403.92000000000013|                    168.5999999999991|          15269.580000000013|                                 8.0|        1.0512820512820513|      4.5755693950177925|
|          72|2021-02-01 00:00:00|       green|   9811.499999999985|               1083.5|                    6.0|         71.52999999999999|                      146.88|                   124.49999999999953|          11248.909999999996|                                 0.0|                      1.25|       4.306144578313251|
|         106|2020-06-01 00:00:00|       green|  3419.6500000000015|                 6.75|                   10.5|        376.09999999999997|          42.839999999999996|                    44.40000000000006|                     3916.29|                                8.25|                       1.3|       5.232905405405407|
|          29|2020-05-01 00:00:00|       green|  14893.320000000003|                 27.0|                   45.5|        232.04000000000002|           539.6100000000001|                   141.89999999999935|          15997.620000000014|                                2.75|        1.1692307692307693|      10.338435517970407|
|          37|2020-06-01 00:00:00|       green|   8582.559999999996|                 17.5|                   30.0|         491.5999999999999|          293.25000000000006|                    99.59999999999977|           9583.510000000002|                                16.5|        1.1333333333333333|        6.57698795180723|
|         131|2020-12-01 00:00:00|       green|   5490.599999999999|                  0.0|                    1.5|         561.1400000000001|                      128.03|                     58.5000000000001|           6242.519999999996|                                 0.0|                       1.0|       5.940101522842639|
|         167|2020-06-01 00:00:00|       green|  7510.8499999999985|                 19.0|                   49.0|        433.06000000000006|           429.0300000000001|                    86.69999999999989|           8559.040000000008|                                 5.5|                     1.152|       6.481262798634815|
|         254|2021-01-01 00:00:00|       green|  10794.399999999998|               382.74|                   15.0|                    634.13|          421.20000000000016|                   113.99999999999963|          12364.220000000008|                                 0.0|        1.0303030303030303|       6.801552631578947|
|         123|2020-08-01 00:00:00|       green|             5276.65|                  3.5|                   17.5|        454.61000000000007|                      118.18|                    60.00000000000009|           5930.439999999999|                                 0.0|                       1.0|                  5.1909|
|          15|2020-12-01 00:00:00|       green|              709.52|                  0.0|                    0.0|                     63.25|                       12.24|                    6.899999999999999|           791.9100000000001|                                NULL|                      NULL|       6.340434782608695|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [27]:
df_result.coalesce(1).write.parquet('data/raw/report/revenue/', mode='overwrite')